*{
    background-color: rgb(57, 26, 166);
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.wrapper .Loading{
    display: flex;
    justify-content: space-evenly;
    
    gap: 5px;
    
   
}
.Loading .loader{
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    padding: 0 10px;
    animation:   Load 0.8s ease infinite;
    
}
.Loading .loader.one{
    animation-delay: 0.3s;
}
.Loading .loader.two {
    animation-delay: 0.4s;
}
.Loading .loader.three {
    animation-delay: 0.5s;
}
.Loading .loader.four {
    animation-delay: 0.6s;
}
.Loading .loader.five {
    animation-delay: 0.7s;
}
@keyframes Load{
    0%{
        width: 30px;
        height: 30px;
    }
    50%{
        width: 50px;
        height: 50px;
    }
}